.env
data/
!backend/src/voilib/tests/data/
pyrightconfig.json
*.egg-info/
.python-version
__pycache__
.mypy_cache
.coverage
htmlcov
.ruff_cache
pyrightconfig.json
.projectile
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.projectile
.env.dev
.env.prod