COMPOSE_PROJECT_NAME="voilib-dev"
ENVIRONMENT="development"

REDIS_HOST="redis"

# database: postgres
POSTGRES_SERVER="db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="changeme"
POSTGRES_DB="app"
EXPOSED_POSTGRES_PORT=5432

# api host
VITE_API_HOST="http://localhost"

# security (generate it with openssl rand -hex 32)
SECRET_KEY="9ae136eaac8328a5709a66c337f4632961a5c1c123f24ad41233582b70c65f47"
